@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary- button -> <button type="button" class="text-white bg-gradient-to-r from-green-400 via-green-300 to-green-300 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Green</button> */

@import url("https://use.typekit.net/pat7auo.css");

.bg-greeny{
    --tw-bg-opacity: 1;
    background-color: #606C38 / var(--tw-bg-opacity);
}
.container{
    height: 90px;
}
.h-16{
    height: 90px;
}
.backgroundgreen2{
    background: #A1C181 !important;
}


.google-btn {
  width: 184px;
  margin: auto;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}

.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }

  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }

  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }